force-app/main/default/flows/Brokerage_Invoice_Legal_entity_wise_Brokerage_invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_brokerage_type</name>
        <label>Check brokerage type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Base</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brokerage_Lookup__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Base Brokerage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brokerage_Lookup__r.Brokerage_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Base Brokerage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>created_cp_brokerage_record_for_base</targetReference>
            </connector>
            <label>Base</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>endOfMonthDT</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR( DATEVALUE({!$Record.CreatedDate}) ),
    MONTH( DATEVALUE({!$Record.CreatedDate}) ) + 1,
    1
) - 1</expression>
    </formulas>
    <formulas>
        <name>startOfMonthDT</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR( DATEVALUE({!$Record.CreatedDate}) ),
    MONTH( DATEVALUE({!$Record.CreatedDate}) ),
    1
)</expression>
    </formulas>
    <interviewLabel>Brokerage Invoice| Legal entity wise Brokerage invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Brokerage Invoice| Legal entity wise Brokerage invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>created_cp_brokerage_record_for_base</name>
        <label>created cp brokerage record for base</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>CpBrokerageID</assignRecordIdToReference>
        <connector>
            <targetReference>update_cp_brokerage_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Brokerage_Type__c</field>
            <value>
                <stringValue>Base Brokerage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Approver_L1__c</field>
            <value>
                <elementReference>$Record.CP_Invoice_Approver_L2__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Approver_L2__c</field>
            <value>
                <elementReference>$Record.CP_Invoice_Approver_L3__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Approver_L3__c</field>
            <value>
                <elementReference>$Record.CP_Invoice_Approver_L4__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Approver_L4__c</field>
            <value>
                <elementReference>$Record.CP_Invoice_Approver_L5__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Clearing_L1__c</field>
            <value>
                <elementReference>$Record.CP_Invoice_Clearing_L1__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Clearing_L2__c</field>
            <value>
                <elementReference>$Record.CP_Invoice_Clearing_L2__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_MIS__c</field>
            <value>
                <elementReference>$Record.CP_Invoice_Approver_L1__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>$Record.Channel_Partner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Status__c</field>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Entity__c</field>
            <value>
                <elementReference>$Record.Booking__r.Tower__r.Legal_Entity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Brokerage__c</field>
            <value>
                <elementReference>$Record.Brokerage_In_Rs__c</elementReference>
            </value>
        </inputAssignments>
        <object>CP_Brokerage__c</object>
    </recordCreates>
    <recordUpdates>
        <name>update_cp_brokerage_record</name>
        <label>update cp brokerage record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CP_Brokerage__c</field>
            <value>
                <elementReference>CpBrokerageID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_brokerage_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brokerage_Lookup__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Brokerage_Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CpBrokerageID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Total_Brokerage</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
